@font-face {
    font-family: 'PokemonFont';
    src: url(assets/xdd.ttf) format('truetype');
  }

body {
    background-image: url('assets/pxfuel.jpg');
    background-size: cover;
    background-position: center center; 
    background-repeat: no-repeat; 
  }
.logo{
    height: 300px;
}
.header{
    display:flex;
    align-items: center;
    flex-direction: column;
    font-size: 50px;
    font-weight: bolder;
    font-family: sans-serif;
    color: rgb(42, 117, 187);
}
.karta{
    background-color: white;
    font-size: 25px;
    width: 250px;
    display: flex;
    font-style: bold;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    color:black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.obrazok{
    width: 200px;
}
.telo{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    padding-left: 21vw;
    padding-right: 18vw;
}

.konec{
    padding-top: 20px;
    font-size: 15px;
    font-family: sans-serif;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.git{
    width: 22px;
    padding-right: 5px;
}