@font-face {
    font-family: 'PokemonFont';
    src: url(assets/xdd.ttf) format('truetype');
  }

  body {
    background-image:
      url("/assets/pxfuel.jpg"),
      url("/assets/xdd.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat,repeat;
  }

.logo{
    height:35vw;
}
.header{
    display:flex;
    align-items: center;
    flex-direction: column;
    font-size: 5vw; 
    font-weight: bolder;
    font-family: sans-serif;
    color: rgb(42, 117, 187);
}
.karta{
    background-color: white;
    font-size: 3vw;
    width: 27vw;
    height: 27vw;
    display: flex;
    font-style: bold;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    color:black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.obrazok{
    width: 20vw;
}
.telo {
    padding-top: 4vh;
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;
    grid-auto-rows: minmax(100px, auto); 
  }
  
  @media (min-width: 1000px) {
    .header{
        font-size: 3vw;
    }
    .logo{
        height: 19vw;
    }
    .telo {
      grid-template-columns: repeat(4, 1fr);
    }
    .karta{
        width: 15vw;
        height: 15vw;
        font-size: 2vw;
    }
    .obrazok{
        width:11vw;
    }
  }

.konec{
    padding-top: 20px;
    font-size: 15px;
    font-family: sans-serif;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-weight: lighter;
}
.git{
    width: 22px;
    padding-right: 5px;
}